
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=wallet-ledger-db
TYPEORM_ENTITIES_PATH=src/**/*.entity.ts
TYPEORM_MIGRATIONS_PATH=src/db/migrations/*.ts
JWT_SECRET=super-secret-jwt-key
JWT_EXPIRES_IN=1h
SMTP_USER=
SMTP_PASS=
SMTP_FROM=